              <div id="form-fragment" th:fragment="form">
              <div th:fragment="form" class="form-group">
               <label for="featured">Sélectionner un fichier : </label>

                 <div class="input-group">
            <div class="custom-file">
                <input name="file" type="file" accept=".txt,.pdf" class="custom-file-input" id="file-input" >
                <label class="custom-file-label" id="file-label" for="inputGroupFile04">Veuillez choisir un fichier</label>

            </div>

          </div>


               <label for="featured">Ou entrer votre texte ici : </label>
               <br>
               <textarea class="form-control" id="text" name="text" rows="7"></textarea>

             </div>
             <div class="form-group">
              <div class=text-center> 
               <input type="submit" class="btn btn-primary" id="submit" name="" value="Envoyer" />
               <input type="reset" class="btn btn-secondary" name="" value="Effacer" />
             </div>
</div>