
<nav th:fragment="navbar"
	class="navbar navbar-expand-md navbar-light navbar-laravel">
	<div class="container-flex">
		<a class="navbar-brand" th:href="@{/}">SmartTextAnalyzer</a>
	</div>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li  class="nav-item "><a th:fragment="syntax" class="nav-link"  th:href="@{/syntax}">Analyse
					grammaticale et lexicale</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/entity}">Analyse
					des entités</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/translate}">Traduction</a>
			</li>

		</ul>
	</div>


</nav>