<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
  <div id="app">
    <nav th:replace="fragments/navbar.html :: navbar"></nav>
    <section class="py-5">
      <div class="container col-8">
        <div class="row">
          <div class="col align-self-center">

            <h2 class="font-weight-light">SmartTextAnalyzer V1.0</h2><br>
            <p>Est un outil de traduction et d'analyse des textes français qui vous permet extraire des informations linguistiques, des informations sur des personnes, des lieux et des événements. </p>
         </div>
       </div>
     </div>
   </div>
 </section>    
</body>
</html>

